<ion-header>

  <ion-navbar color="menu">
    <ion-title>{{title}}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content no-padding>


  <ion-list no-lines>
    <ng-container *ngFor="let track of tracks">
      <button ion-item detail-none [ngClass]="{'playing':track.isPlaying}" (click)="play(track)">
        <ion-icon *ngIf="!track.isPlaying" name="play" item-left color="menu"></ion-icon>
        <ion-icon *ngIf="track.isPlaying" name="pause" item-left color="menu"></ion-icon>
        <ion-spinner *ngIf="track.isLoading" item-right></ion-spinner>
        <h2>{{track.title}}</h2>
        <p *ngIf="track.isPlaying">Playing</p>
      </button>
    </ng-container>

  </ion-list>


</ion-content>

<ion-footer padding *ngIf="current">

  <ion-grid>
    <ion-row>
      <ion-col col-2 *ngIf="current">
        <button *ngIf="!current.isPlaying" ion-fab color="light" (click)="play(current)"><ion-icon name="play"></ion-icon></button>
        <button *ngIf="current.isPlaying" ion-fab color="light" (click)="play(current)"><ion-icon name="pause"></ion-icon></button>
      </ion-col>
      <ion-col>
        <audio-track-progress-bar duration progress #audioTrack [audioTrack]="current" style="width: 100%; margin: 10px"></audio-track-progress-bar>
        <div style="display: flex; justify-content: center;">
          <div *ngIf="current && current.hasLoaded" style="color: #fff">{{ current?.title }}</div>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>


</ion-footer>
