page-lesson-list {
  ion-thumbnail{
    margin: 0 !important;
    padding: 0 !important;
  }

  .big-icon{
    font-size:36px;
    color:#012D5A;
  }

  ion-list{
    margin-top: 10px !important;
  }

  ion-footer{
    background-color: #012D5A;
    padding-top: 20px;
  }
}
